<div class="CenterAlignForParticipantsImages Padding20Px">
  <div>
    <h1>The team behind Limpid</h1>
  </div>
    <div class="ParticipantsImagesWrapper">
      <img src="assets/img/Cursi.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Cursaru Razvan</div>
      <div>Team Leader</div>
      <div>razvan.diib@gmail.com</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="assets/img/Raluca.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Raluca Iacob</div>
      <div>Project Manager</div>
      <div>raluca.iacob@stud.acs.upb.ro</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="assets/img/Iustina.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Laza Iustina</div>
      <div>Business Analyst</div>
      <div>iustina_elena.laza@stud.acs.upb.ro</div>
    </div>
    <br>
    <div class="ParticipantsImagesWrapper">
      <img src="assets/img/Iancu.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Andrei-George Iancu</div>
      <div>Backend Developer</div>
      <div>george_andrei.iancu@stud.acs.upb.ro</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="assets/img/Andrei.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Andrei-George Enache</div>
      <div>Frontend Developer</div>
      <div>andrei.enache0506@stud.fiir.upb.ro</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="assets/img/Dume.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Andrei-Florin Dumenica</div>
      <div>QA Engineer</div>
      <div>andrei.dumenica@gmail.com</div>
    </div>
  </div>