.HeaderWrapper {
   margin-top: 20px;
   padding-top: 20px;
   padding-bottom: 30px;
   text-align: center;
   border-radius: 50px;
   background: rgb(57, 56, 80);
   background: linear-gradient(
     90deg,
     rgba(57, 56, 80, 1) 0%,
     rgba(74, 74, 150, 1) 35%,
     rgba(50, 175, 200, 1) 100%
   );
}

/* .imageWrapper {
    border-radius: 50%;
    background-color:antiquewhite;
    margin-left: 10%;
    margin-right: 10%; 
} */

.LogoImage{
    width: 500px;
    border-radius: 50%;
    background-color: white;
}