<div class="PageWrapper">
  <img src="../assets/img/Limpid.png" class="Logo" />
  <div class="TitleClass">Limpid</div>
  <div class="SectionWrapper">
    <h2>Our goal</h2>
    <div class="InnerSectionWrapper">
      <img src="../assets/img/goal.svg" class="illustration" alt="">
      <div class="InnerSectionText">
        We believe that <strong>time</strong> is the most important resource one can have. That’s
        why you should not use it for <strong>cleaning</strong> your home, but for doing what you
        like. Finding a <strong>trustworthy person</strong> to clean your house or office is
        usually time consuming. Besides of that, you can never be sure if the
        person you contact will do their job properly. Out of a desire to have
        more time for yourself, we created <strong>Limpid</strong>.
      </div>
    </div>
  </div>
  <br>
  <div class="SectionWrapper">
    <h2>Why Limpid?</h2>
    <div class="InnerSectionWrapper">
      <img src="../assets/img/solution.svg" class="illustration" alt="">
      <div class="InnerSectionText">
        <strong>Limpid</strong> is a platform where cleaning persons can join and you can book
        them. On this platform you will be able to pick your favorite person based
        on the <strong>reviews</strong>. You will be charged on <strong>square feet</strong> based on the levels of
        dirtness.
      </div>
    </div>
  </div>
</div>

<div class="CenterAlignForParticipantsImages Padding20Px">
  <h2>Our team</h2>
  <div class="ParticipantsImagesWrapper">
    <img src="../assets/img/Cursi.jpeg" class="ParticipantsImages" />
    <div class="ParticipantName">Cursaru Razvan</div>
    <div>Team Leader</div>
    <div>razvan.diib@gmail.com</div>
  </div>
  <div class="ParticipantsImagesWrapper">
    <img src="../assets/img/Raluca.jpeg" class="ParticipantsImages" />
    <div class="ParticipantName">Raluca Iacob</div>
    <div>Project Manager</div>
    <div>raluca.iacob@stud.acs.upb.ro</div>
  </div>
  <div class="ParticipantsImagesWrapper">
    <img src="../assets/img/Iustina.jpeg" class="ParticipantsImages" />
    <div class="ParticipantName">Laza Iustina</div>
    <div>Business Analyst</div>
    <div>iustina_elena.laza@stud.acs.upb.ro</div>
  </div>
  <br>
  <div class="ParticipantsImagesWrapper">
    <img src="../assets/img/Iancu.jpeg" class="ParticipantsImages" />
    <div class="ParticipantName">Andrei-George Iancu</div>
    <div>Backend Developer</div>
    <div>george_andrei.iancu@stud.acs.upb.ro</div>
  </div>
  <div class="ParticipantsImagesWrapper">
    <img src="../assets/img/Andrei.jpeg" class="ParticipantsImages" />
    <div class="ParticipantName">Andrei-George Enache</div>
    <div>Frontend Developer</div>
    <div>andrei.enache0506@stud.fiir.upb.ro</div>
  </div>
  <div class="ParticipantsImagesWrapper">
    <img src="../assets/img/Dume.jpeg" class="ParticipantsImages" />
    <div class="ParticipantName">Andrei-Florin Dumenica</div>
    <div>QA Engineer</div>
    <div>andrei.dumenica@gmail.com</div>
  </div>
</div>