<span id="signupSection"></span>

<nav>
  <div class="NavClass">
    <img class="NavLogo" src="../assets/img/Limpid.png" />
    <div class="NavLinks">
      <a href="#signupSection">Înregistrează-te</a>
      <a href="#aboutSection">Despre noi</a>
      <a href="#ourTeamSection">Echipa</a>
    </div>
  </div>
</nav>

<div class="signupSectionWrapper">
  <div class="signupSectionLeftWrapper">
    <div class="signupSectionLeftInnerWrapper">
      <h1>
        Vrei o casă curată?<br />
        Cauți un job în curățenie?
      </h1>
      <br><br><br><br>
      <div>Abonează-te acum pentru a afla mai multe!</div>
      <form action="https://formspree.io/f/xnqwakvg" method="post">
        <input
          type="email"
          name="email"
          placeholder="Adresa de email..."
          class="EmailInput"
        />
        <input type="submit" value="Trimite" class="SubmitEmail" />
      </form>
      <br><br><br><br>
      <a href="https:/google.com/" title="Google Play"><img class="getItNow" src="../assets/img/google-play-badge.png" alt="Google Play"></a> 
    </div>
  </div>
  <div class="signupSectionRightWrapper">
    <img src="../assets/img/cleaning_persons2.jpg" class="signupSectionImage" />
  </div>
</div>

<!-- <div class="EntryZone" id="signupSection">
  <div class="HalfPage">
    <div class="EyeCatcher">
      <div>
        <h1 id="CatchPhrase">
          Want your house cleaned?<br />
          Searching for cleaning jobs?
        </h1>
        <div class="SignUpMessage">Sign up now to find more!</div>
        <form action="https://formspree.io/f/xnqwakvg" method="post">
          <input
            type="email"
            name="email"
            placeholder="Email adress..."
            class="EmailInput"
          />
          <input type="submit" value="Submit" class="SubmitEmail" />
        </form>
      </div>
    </div>
  </div>
  <div class="CleanersTopSide">
    <img src="../assets/img/cleaning_persons2.jpg" class="CleanersImage" />
  </div>
</div> -->

<span class="lowerPageWrapper">
  <div class="PageWrapper" id="aboutSection">
    <img src="../assets/img/Limpid.png" class="Logo" />
    <div class="TitleClass">Limpid</div>
    <div class="SectionWrapper">
      <h2>Misiunea noastră</h2>
      <div class="InnerSectionWrapper">
        <img src="../assets/img/goal.svg" class="illustration" alt="" />
        <div class="InnerSectionText">
          Credem că <strong>timpul</strong> este cea mai importantă resursă 
          pe care o avem. De aceea, el nu trebuie folosit pentru 
          <strong>curățenia</strong> casei tale, ci pentru lucrurile care te
          fac fericit. Găsirea <strong>unei persoane de încredere</strong> 
          pentru a îți face curățenie se poate dovedi a fi o provocare. 
          În afară de asta, nu poți niciodată să fii sigur ca persoana pe 
          care o contactezi va face o treabă bună. Din dorința de a avea mai
          mult timp pentru tine, am creat <strong>Limpid</strong>.
        </div>
      </div>
    </div>
    <br />
    <div class="SectionWrapper">
      <h2>De ce Limpid?</h2>
      <div class="InnerSectionWrapper">
        <img src="../assets/img/solution.svg" class="illustration" alt="" />
        <div class="InnerSectionText">
          <strong>Limpid</strong> este o platformă unde oamenii care oferă
          servicii de curățenie se pot alătura, iar tu îi poți rezerva. Pe
          această platformă vei putea alege persoana potrivită pentru tine
          în baza <strong>review-urilor</strong>. Vei fi taxat pe
          <strong>metru pătrat</strong> în funcție de nivelul de murdărie.
        </div>
      </div>
    </div>
  </div>

  <div class="CenterAlignForParticipantsImages Padding20Px" id="ourTeamSection">
    <h2>Echipa noastră</h2>
    <div class="ParticipantsImagesWrapper">
      <img src="../assets/img/Cursi.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Cursaru Razvan</div>
      <div>Team Leader</div>
      <div>razvan.diib@gmail.com</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="../assets/img/Raluca.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Raluca Iacob</div>
      <div>Project Manager</div>
      <div>raluca.iacob@stud.acs.upb.ro</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="../assets/img/Iustina.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Laza Iustina</div>
      <div>Business Analyst</div>
      <div>iustina_elena.laza@stud.acs.upb.ro</div>
    </div>
    <br />
    <div class="ParticipantsImagesWrapper">
      <img src="../assets/img/Iancu.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Andrei-George Iancu</div>
      <div>Backend Developer</div>
      <div>george_andrei.iancu@stud.acs.upb.ro</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="../assets/img/Andrei.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Andrei-George Enache</div>
      <div>Frontend Developer</div>
      <div>andrei.enache0506@stud.fiir.upb.ro</div>
    </div>
    <div class="ParticipantsImagesWrapper">
      <img src="../assets/img/Dume.jpeg" class="ParticipantsImages" />
      <div class="ParticipantName">Andrei-Florin Dumenica</div>
      <div>QA Engineer</div>
      <div>andrei.dumenica@gmail.com</div>
    </div>
  </div>
</span>
